<%- include ../partials/header -%> 

<h1>Login</h1>

<form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="conventional" minlength=5 maxlength=10>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="deadlift" minlength=5 maxlength=10>

    <button>Submit</button>
</form>
<br>
<p style="display:inline"> Not a current user? </p>
<a href="/register">Register</a>

<%- include ../partials/footer -%> 