<%- include ../partials/header -%> 

<h1>New User Registration</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username" minlength=5 maxlength=10>
    <input type="password" name="password" placeholder="password" minlength=5 maxlength=10><br>

    <input type="text" name="firstName" placeholder="firstName">
    <input type="text" name="lastName" placeholder="lastName"><br>
    <button>Submit</button>
</form>
<br></br>
<p style="display:inline"> Already a current user? </p>
<a href="/login">Login</a>
<%- include ../partials/footer -%> 