<%- include ../partials/header -%> 

<h1>New User Registration</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="text" name="firstName" placeholder="firstName"><br>
    <input type="text" name="lastName" placeholder="lastName"><br>
    <button>Submit</button>
</form>
<%- include ../partials/footer -%> 