body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: auto;
}

a {
  color: #00B7FF;
}

.log {
	border: 1px solid black;
	margin-bottom: 25px;
}

.logDate {
	font-style: italic;
}