body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: auto;
}

a {
  color: #00B7FF;
}

.log {
	margin-bottom: 25px;
}

th, td {
	border: 1px solid black;
}